.imgCard:hover {
  scale: 1.02;
  border-radius: 8px;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 6px 6px rgba(0, 0, 0, 0.22);
}
.img {
  border-radius: 8px;
  width: 320px;
  height: 320px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
